<link rel="stylesheet" href="/css/partials/navbar.css">

<nav class="navbar">
    <a href="/" class="navlink">Accueil</a>
    <a href="/" class="navlink">Blog</a>
    <a href="/" class="navlink">A propos</a>
    <a href="/" class="navlink">Contact</a>
</nav>