<link rel="stylesheet" href="/css/global/error.css" />

<div class="background"></div>
<div class="foreground">
        <a href="/" class="moon">
            <img src="/images/moon.png" alt="Moon" class="moon">
        </a>
        <div class="error_desc">
            <h1 class="error">404</h1>
            <p class="text_error">
                La page que vous cherchez n'a pas l'air d'exister...
            </p>
        </div>
</div>

<script src="/js/pages/index.js"></script>
