.background {
	height: 100%;
	width: 100%;

	& > .star {
		border-radius: 50%;
		position: absolute;
		width: var(--i);
		height: var(--i);
		background: #fff;
		animation: star 10s infinite alternate;
	}
}

.foreground {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	& > .scroll_container {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100vh;
		overflow-y: scroll;
		scroll-snap-points-y: repeat(100vh);
		scroll-snap-type: y mandatory;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none;

		& > .scroll_area {
			width: 100%;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			scroll-snap-align: center;

			.moon {
				width: 50%;
				margin-top: 1em;
				margin-left: -200px;
			}

			& > .title {
				font-size: 7rem;
				color: var(--textcolor);
				margin-bottom: 0.4em;

				&.floating-text {
					transform: translateY(-10%);
					animation: floater 4s infinite;
					transition: ease 0.5s;
				}
			}

			&:not(.landing) {
				background: #333;

				&.description {
					display: flex;
					flex-direction: column;
					
					.description__title {
						color: #fafafa;
						text-transform: uppercase;
					}

					.description__image{
						width: 10%;
						border-radius: 50%;
						margin-top: 2em;
					}

					.container__description{
						display: flex;
						flex-direction: column;
						align-items: center;
						margin: 0 70px;
						gap: 2em;
						color: #fafafa;

						.desc__uptitle{
							text-transform: uppercase;
							display: flex;
							flex-direction: column;
							flex-wrap: nowrap;

							.desc__desc{
								font-size: 24px;
								margin: 10px auto;
								font-weight: 500;
							}

							.desc__cont {
								display: flex;
								flex-direction: row;
								gap: 2em;
								align-items: center;
	
								.card__description{
									background-color: #2b4250;
									border-radius: 5px;
									padding: 2em;
									display: flex;
									flex-direction: column;
									border: #fafafa 0.2px solid;
									width: 50%;
		
									.card__description__title{
										text-transform: uppercase;
										font-weight: 500;
										margin: 10px auto;
										font-size: 18px;
									}

									.desc__subtitle {
										text-transform: capitalize;
										text-align: center;
									}
								}
							}
						}
					}
				}

				&.project {
					background-color: #2b4250;
					display: flex;
					flex-direction: column;
					gap: 2em;

					& > .project__title {
						margin-bottom: 35px;
						color: #fafafa;
						text-transform: uppercase;
					}

					& > .container__projects {
						display: flex;
						align-items: center;
						margin: 0 70px;
					}

					& > .container__projects > .arrow {
						color: #fafafa;
						font-size: 70px;
					}

					& > .container__projects > .card__project {
						background-color: #333;
						border-radius: 5px;
						padding: 2em;
						color: #fafafa;
						display: flex;
						flex-direction: row;
						margin: 0 3em;

						& > .card__project__image {
							width: 50%;

							& > img {
								width: 50%;
							}
						}

						& > .card__project__content {
							margin-left: -200px;

							& > .card__project__title {
								text-transform: uppercase;
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}

	.scroll_container::-webkit-scrollbar {
		display: none;
	}

	@keyframes floater {
		0% {
			transform: translateY(-10%);
			transition: ease 0.5s;
		}
		50% {
			transform: translateY(10%);
			transition: ease 0.5s;
		}
	}

	@media screen and (max-width: 768px) {
		.title {
			font-size: 3rem;
		}
	}

	.moon {
		width: 40%;
	}
}

@keyframes star {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(150px);
	}
}
