.background{
    height: 100%;
    width: 100%;

    &>.star{
        position: absolute;
        width: var(--i);
        height: var(--i);
        background: #FFF;
        animation: star 10s infinite alternate;
    }
}

.foreground{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@keyframes star{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(150px);
    }
}
    
