<link rel="stylesheet" href="/css/pages/blog.css" />

<div class="background"></div>
<div class="foreground">
	<div class="container">
		<div class="container__row">
			<div class="container__col">
					<p class="date">
					le 05/06/2023 - Présentation de l'entreprise</br>
					</p>
				<p class="text">
					api.video est une entreprise française de logiciels qui propose une API de streaming video. Fondée en 2015 à Bordeaux par Cédric Montet. Aujourd’hui elle compte une quarantaine d’employés divisés en plusieurs équipes travaillant autour du produit phare : une API permettant aux développeurs de créer des applications vidéo personnalisées sans avoir besoin de coder en passant par l’hébergement de la vidéo, son encodage ainsi que sa diffusion. Ces équipes se réunissent toutes les deux semaines lors d’un « All Hands » pour présenter les avancements et discuter des axes d’amélioration concernant le produit. 
Parmi ces équipes, deux d’entre elles travaillent autour de l’aspect technique du produit : l’équipe API et l’équipe vidéo. J’ai eu l’opportunité de rejoindre l’équipe vidéo pour ces six semaines de stage. Cette équipe est constitué d’un lead-dev et de développeurs qui travaillent tous ensembles sur la partie dite vidéo. C’est-à-dire que c’est eux qui vont faire en sorte d’optimiser la création et le transfert des vidéos par la plateforme mais aussi eux qui vont créer et développer une partie des fonctionnalités permettant un meilleur usage de la vidéo.

				</p>
			</div>
			<div class="container__col">
				<p class="date">
					le 11/06/2023 - Onboarding</br>
				</p>
				<p class="text">
					Pour cette première semaine, j’ai eu à travailler sur le projet « Onboarding » c’est-à-dire le projet de base permettant de découvrir les technologies utilisées par l’équipe ainsi que les différentes librairies. J’ai, lors de mes deux premières années de formation à Ynov Campus, pu travailler avec Golang mais je n’avais fait que des sites web. Hors ici ce n’était pas dans ce cadre là que le GO était utilisé, il m’a donc fallu un temps d’adaptation pour retrouver mes marques sur le langage et en prendre des nouvelles sur les librairies qui étaient créées par l’équipe elle-même. Sur ce point, j’ai pu mettre à l’épreuve ma recherche d’informations puisque sur une librairie faite main, on ne retrouve pas d’informations sur internet lorsque l’on rencontre un problème. Il a donc fallu que je trouve d’autres moyens pour résoudre les différents problèmes que je rencontrais (qui étaient souvent des problèmes de syntaxe… On ne change pas une équipe qui gagne !).
A côté de ça pendant cette semaine, mon maitre de stage a aussi pris le temps de m’expliquer le projet sur lequel j’allais travailler par la suite. Il consistait à créer un micro-service pour relancer la ou les qualités des vidéos dont le transcoding (mise en forme des données de la vidéo pour délivrer l’application vidéo à l’utilisateur) avait échoué. Pour cela, il m’a expliqué le processus de transcoding tout entier en allant du téléchargement de la vidéo sur le site à sa délivrance. 
				<a href="images/photo2.png" download="photo2.png">Télécharger ici la pièce jointe.</a>
				</p>
			</div>
		</div>
		<div class="container__row">
			<div class="container__col">
				<p class="date">
					le 21/06/2023 - TDD or not TDD ?</br>
				</p>
				<p class="text">
					Lors de cette deuxième semaine, j’ai continué à travailler sur le projet « Onboarding », mais cette fois-ci d’une autre manière : en faisant des tests. Les tests servent à vérifier le code et à le tester de manière « pragmatique » (enfin de mon point de vue). Le plus difficile dans cette tâche a été de comprendre pourquoi je faisais ça, quel était le résultat attendu. Une fois la main prise dessus (même s’il m’a bien fallu trois jours pour prendre la main entre l’unitaire et l’intégration), j’ai trouvé cette tâche vraiment intéressante et j’aurais vraiment apprécié avoir une capsule de cours dessus durant ma deuxième année pour découvrir les tests, c’est une notion qui, je pense est importante, étant donné le nombre de fois que l’on nous parle des tests durant nos entretiens pour trouver nos alternances. Après la réalisation des tests sur le projet « Onboarding », mon maitre de stage m’avait proposé de travailler sur le véritable projet avec la méthode TDD, Test-Driven Development mais j’ai finalement, fait le choix de développer les services avant les tests par manque de confiance sur mon approche. Je m’explique : je craignais de perdre trop de temps à écrire des tests qui ne colleraient pas avec les fonctions, et du coup, à développer de mauvaises fonctions qui ne répondaient pas à la demande que l’on m’avait faite.
				</p>
			</div>
			<div class="container__col">
				<p class="date">
					le 27/06/2023 - Mode SCRUM</br>
				</p>
				<p class="text">
					Je l’avais sous-entendu lors de mon premier article mais je n’avais pas vraiment approfondi ce point, l’équipe vidéo travaille en mode scrum. C’est une méthode de développement agile orientée projet informatique. Ayant rejoint cette équipe, j’ai donc pu participer aux différentes cérémonies agiles comme celle du daily. Tous les matins, à 9h30, l’équipe se réunie et fait un point sur les avancées et les blocages de la veille. Tout ceci parait très bien et même plutôt naturel pour la plupart des gens, mais j’avouerai que j’ai eu quelques problèmes avec ça. En effet, maintenant que j’avais quitté le projet « Onboarding » et que j’avais des tâches sur le projet « Vidéo » à faire mes micro-services, il fallait donc que je parle au daily. C’est peut-être une étape que j’ai loupé lors de mes deux premières années de formation, mais j’ai eu énormément de mal à expliquer ce que j’avais fait la veille, ce que je voulais faire aujourd’hui et pourquoi je le faisais. Je savais tout ça, j’avais toutes les informations mais le fait de les dire à l’oral a été un point bloquant pour moi, en tous cas lors de cette première semaine. J’ai finalement réussi à régler ce point et à parler de mon travail en préparant la veille au soir des dailys ce que j’allais dire pour m’enlever ce stress le matin lors de la réunion. 
				</p>
			</div>
		</div>
		<div class="container__row">
			<div class="container__col">
				<p class="date">
					le 05/07/2023 - Google Traduction please ?</br>
				</p>
				<p class="text">
					Comment ça ? J’ai osé utiliser Google Traduction ? Non je vous rassure, je n’ai pas utilisé Google Traduction, et même si je l’avais fait, je ne vous le dirais pas. J’ai parlé dans mon premier article de la cérémonie agile « All Hands », le nom est en anglais, ça vous indique quelque chose sur son contenu ? Et oui, cette réunion était en anglais, api.video ayant des talents anglophones, les réunions les comprenant se font en anglais. Et là… Catastrophe, si les nombreux exercices et piscines avec des consignes anglaises vus durant les cours m’ont aidé à lire l’anglais et le comprendre à l’écrit, c’est une autre paire de manches à l’oral. Pour ce qui est de cette difficulté il m’a été difficile d’y remédier complètement en six semaines. Au bout de la première semaine j’étais déjà un peu plus à l’aise sur les sujets que je connaissais. Mais durant cette fin de stage, j’ai eu l’occasion d’assister à une réunion marketing, beaucoup de mots et de concepts que je ne connaissais pas, même en français, mais je me suis accrochée et je pense avoir réussi à comprendre quelques notions sur les liens entre le produit et le marketing du produit qui me serviront sûrement un jour. En attendant, je retourne faire du Duolingo !
				</p>
			</div>
			<div class="container__col">
				<p class="date">
					le 17/07/2023 - Petit bilan</br>
				</p>
				<p class="text">
					Premier jour sans stage. Je m’ennuie un peu. J’ai hâte de retourner travailler. J’ai, malgré les quelques difficultés que j’ai rencontrées, vraiment apprécié mon stage. J’y ai développé plein de nouvelles compétences que je ne n’aurais pas eu l’occasion de voir lors de ma formation. J’ai hâte de commencer l’alternance afin de pouvoir renforcer ces connaissances. Je sais qu’il va falloir que je prenne confiance en ce que je fais, afin d’être plus autonome et que j’arrive à aller plus vers les gens, afin d’être plus productive, de rester bloquée moins longtemps. Je suis tout de même contente du travail que j’ai fait à api.video, après la première partie en Golang sur les micro-services que j’ai terminé en trois semaines, j’ai donc eu la chance de pouvoir intégrer ce service dans le site fait en PHP, afin de le rendre public aux utilisateurs. Ce petit retour aux sources sur du PHP ne m’a pas fait changer d’avis sur ce que je pense de ce langage mais m’a permis de me remettre en jambe sur du web avant de commencer la spécialité développement à la rentrée. 
Je dirais que ce stage m’a permis de comprendre ce que j’aimais faire, mais aussi d’arriver à apprécier faire des choses que j’aime moins faire. J’ai vraiment apprécié travailler sur un produit, surtout sur autre chose qu’un site web il faut avouer.
J’espère que la suite sera aussi enrichissante que ce stage.

				</p>
			</div>
		</div>
	</div>
</div>

<script src="/js/pages/index.js"></script>
