<link rel="stylesheet" href="/css/pages/blog.css" />

<div class="background"></div>
<div class="foreground">
	<div class="container">
		<div class="container__row">
			<div class="container__col">
				<p class="text">
					Api.video est une entreprise française de logiciels qui propose une API de streaming vidéo. Fondée en 2015 à Bordeaux, l'entreprise est
					aujourd'hui présente dans plus de 100 pays et compte plus de 100 000 utilisateurs. L'API de Api.video permet aux développeurs de créer des
					applications vidéo personnalisées sans avoir besoin de coder. Elle offre une gamme complète de fonctionnalités, notamment : L'hébergement de
					vidéos L'encodage vidéo La diffusion vidéo La gestion des droits numériques (DRM) Api.video est utilisée par une grande variété
					d'entreprises, notamment des startups, des PME et des grandes entreprises. Elle est également utilisée par des organisations à but non
					lucratif et des institutions éducatives.
				</p>
			</div>
			<div class="container__col">
				<p class="text">
					Api.video est une entreprise française de logiciels qui propose une API de streaming vidéo. Fondée en 2015 à Bordeaux, l'entreprise est
					aujourd'hui présente dans plus de 100 pays et compte plus de 100 000 utilisateurs. L'API de Api.video permet aux développeurs de créer des
					applications vidéo personnalisées sans avoir besoin de coder. Elle offre une gamme complète de fonctionnalités, notamment : L'hébergement de
					vidéos L'encodage vidéo La diffusion vidéo La gestion des droits numériques (DRM) Api.video est utilisée par une grande variété
					d'entreprises, notamment des startups, des PME et des grandes entreprises. Elle est également utilisée par des organisations à but non
					lucratif et des institutions éducatives.
				</p>
			</div>
		</div>
		<div class="container__row">
			<div class="container__col">
				<p class="text">
					Api.video est une entreprise française de logiciels qui propose une API de streaming vidéo. Fondée en 2015 à Bordeaux, l'entreprise est
					aujourd'hui présente dans plus de 100 pays et compte plus de 100 000 utilisateurs. L'API de Api.video permet aux développeurs de créer des
					applications vidéo personnalisées sans avoir besoin de coder. Elle offre une gamme complète de fonctionnalités, notamment : L'hébergement de
					vidéos L'encodage vidéo La diffusion vidéo La gestion des droits numériques (DRM) Api.video est utilisée par une grande variété
					d'entreprises, notamment des startups, des PME et des grandes entreprises. Elle est également utilisée par des organisations à but non
					lucratif et des institutions éducatives.
				</p>
			</div>
			<div class="container__col">
				<p class="text">
					Api.video est une entreprise française de logiciels qui propose une API de streaming vidéo. Fondée en 2015 à Bordeaux, l'entreprise est
					aujourd'hui présente dans plus de 100 pays et compte plus de 100 000 utilisateurs. L'API de Api.video permet aux développeurs de créer des
					applications vidéo personnalisées sans avoir besoin de coder. Elle offre une gamme complète de fonctionnalités, notamment : L'hébergement de
					vidéos L'encodage vidéo La diffusion vidéo La gestion des droits numériques (DRM) Api.video est utilisée par une grande variété
					d'entreprises, notamment des startups, des PME et des grandes entreprises. Elle est également utilisée par des organisations à but non
					lucratif et des institutions éducatives.
				</p>
			</div>
		</div>
		<div class="container__row">
			<div class="container__col">
				<p class="text">
					Api.video est une entreprise française de logiciels qui propose une API de streaming vidéo. Fondée en 2015 à Bordeaux, l'entreprise est
					aujourd'hui présente dans plus de 100 pays et compte plus de 100 000 utilisateurs. L'API de Api.video permet aux développeurs de créer des
					applications vidéo personnalisées sans avoir besoin de coder. Elle offre une gamme complète de fonctionnalités, notamment : L'hébergement de
					vidéos L'encodage vidéo La diffusion vidéo La gestion des droits numériques (DRM) Api.video est utilisée par une grande variété
					d'entreprises, notamment des startups, des PME et des grandes entreprises. Elle est également utilisée par des organisations à but non
					lucratif et des institutions éducatives.
				</p>
			</div>
			<div class="container__col">
				<p class="text">
					Api.video est une entreprise française de logiciels qui propose une API de streaming vidéo. Fondée en 2015 à Bordeaux, l'entreprise est
					aujourd'hui présente dans plus de 100 pays et compte plus de 100 000 utilisateurs. L'API de Api.video permet aux développeurs de créer des
					applications vidéo personnalisées sans avoir besoin de coder. Elle offre une gamme complète de fonctionnalités, notamment : L'hébergement de
					vidéos L'encodage vidéo La diffusion vidéo La gestion des droits numériques (DRM) Api.video est utilisée par une grande variété
					d'entreprises, notamment des startups, des PME et des grandes entreprises. Elle est également utilisée par des organisations à but non
					lucratif et des institutions éducatives.
				</p>
			</div>
		</div>
	</div>
</div>

<script src="/js/pages/index.js"></script>
