<link rel="stylesheet" href="/css/pages/contact.css" />

{{!-- stars --}}
<div class="background"></div>

<div class="foreground">
    <div class="container">
        hello
    </div>
</div>


<script src="/js/pages/index.js"></script>