<link rel="stylesheet" href="/css/pages/contact.css" />

{{!-- stars --}}
<div class="background"></div>

<div class="foreground">
	<div class="container">
		<h1 class="title">Contactez-moi</h1>
		<div class="round_container">
			<div class="little__cont">Tel: 0785853289</div>
			<div class="little__cont">Mail: roxanne.roulland@ynov.com</div>
			<div class="little__cont"><a class="link" href="https://www.linkedin.com/in/roxanne-roulland-23b326234/">Linkedin</a></div>
		</div>
	</div>
</div>

<script src="/js/pages/index.js"></script>
