<link rel="stylesheet" href="/css/pages/index.css" />

{{!-- Stars --}}
<div class="background"></div>
<div class="foreground">
	<div class="scroll_container">
		
		<div class="scroll_area landing">
			<img src="/images/moon.png" class="moon" />
			<h1 class="title floating-text">PORTFOLIO</h1>
		</div>

		<div class="scroll_area description">
			<img src="/images/profil.png" alt="photo de profil" class="profil_img" />
			<p class="profil_desc">
				Roxanne ROULLAND<br />
				Actuellement en Bachelor 2 Informatique chez Ynov Campus, je suis à la recherche d’un stage de six semaines à partir de mi-mai. J'apprécie
				particulièrement le développement en tout genre. Je cherche donc un stage dans le domaine du développement. <br />
				J'aurais aimé découvrir le domaine de la data et de l'IA, mais je suis ouverte à toutes propositions.<br />
			</p>
		</div>
	</div>
</div>

<script src="/js/pages/index.js"></script>
