<link rel="stylesheet" href="/css/pages/index.css">

{{!-- Stars --}}
<div class="background">
</div>
<div class="foreground">
    <img src="/images/moon.png" class="moon">
    <h1 class="title floating-text">PORTFOLIO</h1>
</div>

<script src="/js/pages/index.js"></script>