<link rel="stylesheet" href="/css/pages/index.css" />

{{!-- Stars --}}
<div class="background"></div>
<div class="foreground">
	<div class="scroll_container">
		<div class="scroll_area landing">
			<h1 class="title floating-text">BIENVENUE</br>↓</h1>
		</div>

		<div class="scroll_area description" id="about">
			<h1 class="description__title">A propos de moi</h1>
			<div class="container__description">
				<img src="/images/profil.png" class="description__image"/>

				Roxanne Roulland, étudiante de 19 ans en troisième année de Bachelor Informatique spécialisée dans le développement chez Ynov Campus.</br>
				<a class="desc__link"href="assets/roxanneroulland.pdf" download="roxanneroulland.pdf">Télécharger mon CV complet</a>

				<div class="desc__uptitle">
					<h2 class="desc__desc">FORMATION</h2>
					<div class="desc__cont">
						<div class="card__description">
							<h2 class="card__description__title">Bachelor Informatique - Spécialité Développement - Ynov Campus</h2>

							<p class="desc__subtitle">Langage & Frameworks - Système & Réseau - Gestion de projet - Laboratoire Développement Web - Laboratoire Data / IA</p>
						</div>
						<div class="card__description">
							<h2 class="card__description__title">Baccalauréat - Lycée Jean Renou</h2>

							<p class="desc__subtitle">Mention "Assez Bien" - Spécialités NSI & HGGSP - Option Mathématiques complémentaires</p>
						</div>
					</div>
				</div>

				<div class="desc__uptitle">
						<h2 class="desc__desc">EXPERIENCE PROFESSIONELLE</h2>
					<div class="desc__cont">
						<div class="card__description">
							<h2 class="card__description__title">api.video - juin / juillet 2023</h2>

							<p class="desc__subtitle">Développement de micro-services - Réalisation de tests unitaires et de tests d'intégration</p>
						</div>

						<div class="card__description">
							<h2 class="card__description__title">obvy - juillet 2022</h2>

							<p class="desc__subtitle">amélioration du back-end du blog shopping - refonte du front-end du blog shopping</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="scroll_area project" id="projects">
			<h1 class="project__title">Mes projets</h1>
			<div class="container__projects">
				<ion-icon name="chevron-back-circle-outline" class="arrow"></ion-icon>

				<div class="card__project">
					<div class="card__project__image">
						<img src="/images/photo.png" />
					</div>
					<div class="card__project__content">
						<h2 class="card__project__title">Name of project</h2>
						<p class="card__project__description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl eget ultricies ultrice
						</p>
					</div>
				</div>

				<ion-icon name="chevron-forward-circle-outline" class="arrow"></ion-icon>
			</div>
		</div>
	</div>

	<script src="/js/pages/index.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>
