@import "reset";
@import "variables";

/* 
 ! GLOBALS
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Antonio", sans-serif;
    font-weight: 300;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    height: 100%;
    background: var(--background);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

::selection {
    background: var(--link-light-color);
    color: var(--background);
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 992px) {
    html,
    body {
        min-height: 100%;
    }
}